.header {
  position: relative;
  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: absolute;
    top: -30px;
    left: 0;
  }

  &-title {
    &-wrapper {
      text-align: center;
    }
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &-subtitle {
    font-size: 14px;
    line-height: 0;
  }
}

.campaign-info {
  margin-top: 3rem;
  line-height: 0;
  margin-bottom: 12px;

  .campaign-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &-title {
      line-height: 0;
      font-size: 1.25rem;
      font-weight: bold;
    }

    &-date {
      font-size: 0.85rem;
    }
  }

  .table {
    width: 100%;
    margin: 0;

    &table,
    td {
      border: 1px solid #cfcfcf;
      border-collapse: collapse;

      padding-left: 5px;
    }
    td {
      height: 30px;
      // height: 100%;
    }

    &-title {
      width: 40%;
      color: rgba(0, 0, 0, 0.65);
      background-color: rgba(0, 0, 0, 0.02);
    }
    &-content {
      // height: 23px;

      color: #333333;
      overflow-wrap: break-word;

      .font-medium {
        font-weight: bold;
      }
    }
  }
}
