/* .title{
  font-size: 3rem;
} */

.header {
  // display: flex;
  // align-items: center;
  position: relative;
  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: absolute;
    top: -30px;
    left: 0;
  }

  &-title {
    &-wrapper {
      text-align: center;
    }
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &-subtitle {
    font-size: 14px;
    line-height: 0;
  }
}

.campaign-info {
  margin-top: 3rem;
  line-height: 0;
  margin-bottom: 12px;
  &-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 5px;
    margin-bottom: 2rem;
  }
  .table {
    width: 100%;
    margin: 0;
    // border-spacing: -10px;

    // border: 1px solid #cfcfcf;

    &table,
    td {
      border: 1px solid #cfcfcf;
      // border-collapse: collapse;
      height: 30px;
    }

    &-title {
      // height: 23px;
      // width: 222.5px;
      // background-color: #d0e4f5;
      // color: #fff;
      width: 50%;
      color: rgba(0, 0, 0, 0.65);
      background-color: rgba(0, 0, 0, 0.02);
    }
    &-content {
      // height: 23px;

      color: #333333;

      .font-medium {
        font-weight: bold;
      }
    }
  }
}
